:root {
    --container-width: 1440px;
    --container-padding: 30px;
    --color-button: rgb(255, 98, 54);
}
body {
    font-family: "GraphikLCG", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}
[class*="__container"] {
    max-width:  var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}
ul,
li {
    list-style: none;
    margin: 0;padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    margin: 0;
}
u{
    font-weight: 400;
}
.big__title{
    font-size: 31px;
    line-height: 38px;
    font-weight: 600;

    @media (min-width: 456px){
        font-size: 43px;
        line-height: 53px;
    }
    @media (min-width: 768px){
        font-size: 46px;
        line-height: 63px;
    }
    @media (min-width: 1345px){
        font-size: 65px;
        line-height: 70px;
    }
}
.title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    .boost-productivity & {
        font-size: 25px;
        line-height: 34px;
        @media (min-width: 653px){
            font-size: 32px;
            line-height: 50px;
        }
    }
    @media (min-width: 653px){
        font-size: 40px;
        line-height: 50px;
    }
    @media (min-width: 992px){
        font-size: 50px;
        line-height: 60px;
    }
}
.paragraph{
    font-size: 16px;
    line-height: 24px;
    @media (min-width: 992px){
        font-size: 20px;
        line-height: 30px;
    }
}
.link{
    font-size: 16px;
    line-height: 24px;
    transition: color .5s;
    @media (min-width: 992px){
        font-size: 20px;
        line-height: 30px;
    }
}
.link:hover{
    color: var(--color-button);
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
img {
    // width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    // .header & {
    //     max-width: max-content;
    // }
}
.dnon{
    display: none;
}
.hed{
    height: 957px;
}
figure {
    margin: 0;
}
.identical__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
}