.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    transition: background-color 1s, color 0.5s;
    border: solid 1px;
}
.btn__orange{
    color: #fff;
    background-color: #FF6336;
    border-color:  #FF6336 ;
}
.btn__orange:hover{
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.btn__wide{
    display: block;
    width: 160px;
    line-height: 60px;
    text-align: center;
}
.btn__very-wide{
    width: 193px;
}
.btn__white {
    background-color: #fff;
    border-color: #000;
    color: #000;
}
.btn__bleck{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn__bleck:hover{
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.btn__white:hover {
    background-color: #FF6336;
    border-color: #FF6336;
    color: #fff; 
 }
.btn__narrow{
    display: block;
    width: 120px;
    text-align: center;
}
 [class*="__buttons"] {
    display: flex;
    gap: 10px;
}
