.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    transition: background-color 1s, color 0.5s;
    border: solid 1px;
    &__orange{
        color: #fff;
        background-color: var(--color-button);
        border-color:  var(--color-button) ;
        &:hover{
            background-color: #fff;
            border-color: #000;
            color: #000;
        }
    }
    &__white {
        background-color: #fff;
        border-color: #000;
        color: #000;
        &:hover {
            background-color: var(--color-button);
            border-color: var(--color-button);
            color: #fff; 
         }
        &__bleck{
            background-color: #000;
            border-color: #000;
            color: #fff;
            &:hover{
                background-color: #fff;
                border-color: #000;
                color: #000;
            }
        }
    }
    &__wide{
        display: block;
        width: 160px;
        line-height: 60px;
        text-align: center;
    }
    &__very-wide{
        width: 193px;
    }
    
    &__narrow{
        display: block;
        width: 120px;
        text-align: center;
    }
}
 [class*="__buttons"] {
    display: flex;
    gap: 10px;
}
