.company {
    background-color: #FF9C7D;
    &__container {
        min-height: 455px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 90px;
        padding-top: 14px;
        padding-bottom: 40px;
        @media (min-width: 629px){
            gap: 60px;
        }
    }
    &__title-wrapper{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__title {
        max-width: 777px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        @media (min-width: 422px){
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 100px;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

