.footer-up {
    background-color: #fff;
    &__container {
        display: flex;
        gap: 106px;
        padding: 87px 20px 92px 50px;
        position: relative;
        &::after{
            content: "";
            border-bottom: 2px solid #000;
            display: block;
            width: 1290px;
            position: absolute;
            top: 100%;
            z-index: 111;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .up__info{
        font-size: 20px;
        line-height: 30px;
        &-title{
            font-size: 40px;
            line-height: 60px;
            font-weight: 600;
            margin-bottom: 22px;
        }
        &-image{
            margin-bottom: 31px;
        }
        &-logo{
            height: 32px;
            width: 80px;
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 15px;
        }
        a{
            font-weight: 600;
        }
    }
    .footer__nav {
        display: flex;
        gap: 34px;
        padding: 9px 34px;
        &-box {
            display: flex;
            flex-direction: column;
            flex: 0 0 187px;
            h6{
                font-size: 20px;
                line-height: 25px;
                font-weight: 600;
            }
        }
        &-menu {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 20px 0;
            a:hover{
                color: var(--color-button);
            }
        }
    }
}
.footer-down {
    background-color: #fff;
    padding: 54px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 15px;
    }
    &-content {
        display: flex;
        gap: 14px;
        padding: 0 20px;
        p{
            max-width: 300px;
        }
    }
    &-info {
        padding: 0 97px 0 20px;
    }


}