.footer-up {
    background-color: #fff;
    &__container {
        padding: 87px 40px 50px;
        position: relative;
        @media (min-width: 739px){
            display: flex;
            gap: 10px;
            padding: 87px 20px 50px 50px;
        }
        @media (min-width: 819px){
            gap: 40px;
            padding-bottom: 96px;
        }
        @media (min-width: 1440px){
            gap: 106px;
        }
        &::after{
            content: "";
            border-bottom: 1px solid #000;
            display: block;
            width: 1290px;
            position: absolute;
            top: 100%;
            z-index: 111;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        // max-width: 300px;
        flex: 0 0 250px;
        padding-bottom: 50px;
        @media (min-width: 739px){
            padding-bottom: 0;
        }
        @media (min-width: 819px){
            flex: 0 0 300px;
        }
    }
    .up__info{
        font-size: 20px;
        line-height: 30px;
        &-title{
            font-size: 32px;
            line-height: 46px;
            font-weight: 600;
            margin-bottom: 22px;
            text-align: center;
            @media (min-width: 739px){
                text-align: left;
            }
            @media (min-width: 819px){
                font-size: 40px;
                line-height: 60px;
            }
        }
        &-image{
            margin-bottom: 31px;
        }
        &-logo{
            height: 32px;
            width: 80px;
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 15px;
            text-align: center;
            @media (min-width: 739px){
                text-align: left;
            }
        }
        a{
            font-weight: 600;
            text-align: center;
            @media (min-width: 739px){
                text-align: left;
            }
        }
    }
    .footer__nav {        
        padding: 9px 15px;
        @media (min-width: 739px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;   
            flex: 0 1 918px;
            gap: 10px 5px; 
            background: #fff;
        }
        @media (min-width: 1011px){
            gap: 20px 5px;
        }
        @media (min-width: 1328px){
            gap: 34px;
            padding: 9px 34px;
        }
        @media (min-width: 1440px){
            flex-wrap: nowrap;
            justify-content: start;
            padding: 9px 34px;
        }
        &-box {
            display: flex;
            flex-direction: column;
            flex: 0 0 187px;
            margin-bottom: 15px;
            @media (min-width: 739px){
                margin-bottom: 0;
            }
        }
        &--input{
            position: absolute;
            visibility: hidden;
            width: 0;
            height: 0;
            &:checked ~ .footer__nav-menu {
                display: block;
            }           
        }
        &--title{
            display: block;
            font-size: 18px;
            line-height: 25px;
            font-weight: 600;
            text-align: center;
            background: #FF9B7D;
            border-radius: 5px 5px 0 0;
            color: #fff;
            @media (min-width: 739px){
                background: #fff;
                box-shadow: none;
                color: #000;
                font-size: 20px;
            }
            @media (min-width: 819px){
                text-align: left;
            }
        }
        &-menu {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 20px 0;
            text-align: center;
            display: none;
            transition: 1s;
            background: #FF9B7D;
            border-radius: 0 0 5px 5px;           
            a:hover{
                color: var(--color-button);
            }
            @media (min-width: 739px){
                display: block;
                background: #fff;
                color: #000;
            }
            @media (min-width: 819px){
                text-align: left;
                display: block;
            }
            li{
                padding-bottom: 15px;
                a{
                    color: #fff;
                    @media (min-width: 739px){
                        color: #000;
                    }
                }
            }
        }
    }
}
.footer-down {
    background-color: #fff;
    padding: 54px 0;
    &__container {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 15px;       
        @media (min-width: 729px){
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    }
    &-content {
        align-self: center;
        text-align: center;
        margin-bottom: 20px;
        img{
            margin-bottom: 20px;
            @media (min-width: 729px){
                margin-bottom: 0;
            }
        }       
        p{
            max-width: 300px;
        }
        @media (min-width: 729px){
            display: flex;
            gap: 14px;
            padding: 0 20px;
            text-align: left;
            margin-bottom: 0;
        }
    }
    &-info {
        text-align: center;
        align-self: center;
        @media (min-width: 729px){
            padding: 0 97px 0 20px;
            text-align: left;
        }
    }
}