.hero {
    min-height: calc(100vh - 95px) ;
    display: flex;
    align-items: center;
    &__container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: 992px){
            flex-direction: row;;
        }
    }
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        gap: 30px;
        font-size: 18px;
        line-height: 28px; 
        @media (min-height:700px){
            gap: 50px;
        }
        @media (min-height:768px){
            font-size: 20px;
            line-height: 32px;
        }
        @media (min-width: 992px){
            align-items: flex-start;
            max-width: 45%;
            text-align: left;
            gap: 20px;
        }
        @media (min-width: 1278px){
            font-size: 25px;
            line-height: 35px;
        }
        h1{
            max-width: 600px;
            // text-align: center;
            @media (min-width: 1278px){
                max-width: 540px;
            }
        }
        p{ 
            max-width: 600px;
            // text-align: center;
            @media (min-width: 1278px){
                max-width: 471px;
            }
        }
        span {
            font-size: 13px;
            line-height: 20px; 
            @media (min-width:460px){
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
    &__buttons{
        padding-bottom: 25px;
        justify-content: center;
        gap: 20px;
        @media (min-width: 460px){
            gap: 50px;
        }
        @media (min-width: 992px){
            justify-content: start;
            gap: 10px;
        }
    }
    &__image {
        max-width: 759px;
        flex-grow: 1;
        max-width: 72%;
        padding: 10px 0 20px;
        @media (min-width: 992px){
            max-width: 55%;
            padding-left: 10px;
        }
    }
}