.hero {
    min-height: calc(100vh - 95px) ;
    display: flex;
    align-items: center;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        font-size: 25px;
        line-height: 35px;
        
        h1{
            max-width: 540px;
        }
        p{
            max-width: 471px; 
        }
        span {
            font-size: 15px;
            line-height: 25px;   
        }
       
    }
    &__buttons{
        padding-bottom: 25px;
    }
    &__image {
        max-width: 759px;
        flex-grow: 1;
    }
}