.integration {
    padding: 169px 0 162px 0;
    &__container {
        .big__title{
            margin-bottom: 8px;
        }
        .subtitle {
            font-size: 25px;
            line-height: 30px;
            max-width: 560px;
            margin-bottom: 25px;
        }
        img{
            margin-bottom: 32px;
        }
    }
}

