.localization {
    background-color: #FF9C7D;
    padding: 120px 0 160px 0;
    .big__title {
        margin-bottom: 35px;
    }
    h6{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 55px;
    }
}
