.presentations {
    background-color: #fff;
    margin-bottom: 150px;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 255px;
        
    }
    &__block {
        display: flex;;
        justify-content: space-evenly;
    }
    &__block:nth-child(even){
        flex-direction: row-reverse;
        .presentations__block-content{
            padding-left: 112px;
            gap: 25px;
        }
    }
    &__block-content {
        display: flex;
        flex-direction: column;
        flex: 0 0 47%;
        justify-content: center;
        gap: 30px;
        h3{
            max-width: 500px;
        }
        p {  
            max-width: 500px;
        }
        a {
            font-weight: 600;
        }
    }
    &__image{
        display: flex;
        flex: 0 0 627px;
        img{
            width: 100%;
            height: auto;
        }
    }
}

