.revolut {
    background-color: #C9E8F2;
    padding: 50px 30px;
    @media (min-width: 450px){
        padding: 52px;
    }
    @media (min-width: 880px){
        padding: 52px 0 106px;
    }
    &__container {
        
        padding: 0 20px;
        font-size: 16px;
        line-height: 28px;
        @media (min-width: 411px){
            font-size: 18px;
            line-height: 32px;
        }
        @media (min-width: 750px){
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: 880px){
            padding: 0 75px;
        }
        @media (min-width: 992px){
            font-size: 22px;
            line-height: 36px;
        }
        @media (min-width: 1100px){
            font-size: 30px;
            line-height: 40px;
        }
    }
    &__quote {
        padding-bottom: 40px;
        padding-top: 10px;
        @media (min-width: 750px){
            max-width: 64%;
        }
        blockquote {
            text-align: justify;
            margin: 0 0 26px;
            @media (min-width: 750px){
                padding-right: 20px;
            }
        }
        figcaption {
            font-size: 15px;
            line-height: 25px;
        }
    }
    &__image {
            max-width: 310px;
            height: 310px;
            margin: 0 auto;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            
        }
}
}